.modal {
  display: none;
  position: fixed;
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgba(138, 133, 133, 0.849);
}

.modal-content {
  border: 3px solid rgb(118, 118, 118);
  display: flex;
  flex-direction: column;
  height: 400px;
  width: 400px;
  align-items: center;
  justify-content: space-around;
  margin: 200px auto;
  z-index: 500;
  background-color: aliceblue;
  border-radius: 10px;
}

.modal-content__input {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}