.container.posts {
  display: flex;
  flex-direction: column;
}

.all_posts {
  display: flex;
  flex-direction: column;
  width: 60%;
  padding: 0 50px;
}

.wrapper.user_info {
  width: 40%;
}

.post {
  padding: 10px;
  margin: 10px;
  border: 2px solid black;
}

.user {
  display: flex;
  align-items: flex-start;
  margin: 10px 0;
}

textarea {
  width: 80%;
  max-height: 200px;
  resize: none;
}
